.body {

margin: 0px;

}

.Index {

width: 1920px;
height: 120px;
border-bottom: 2px black solid;
display: flex;
background-color: #4684d8;

}

.Logo {

height: 90px;
width: 370px;
position: relative;
left: 15px;
top: 15px;
background-image: url(CGLogo.png);
background-size: cover;

}

.IndexLink {

height: 60px;
width: 150px;
margin-left: 150px;
position: relative;
top: 30px;
font-family: Poppins;
font-weight: 600;
font-size: 30px;
text-align: center;
align-items: center;
justify-content: center;
display: flex;
color: white;
cursor:pointer ;



}

.Menu01 {

height: 200px;
width: 1700px;
outline: 2px black solid;
position: relative;
left: 110px;
top: 110px;
border-radius: 10px;


}

.MenuButton {

height: 150px;
width: 100px;
border-radius: 5px;
position: relative;
left: 25px;
top: 25px;
font-family: Poppins;
color: white;
background-color: #4684d8;
cursor: pointer;

}

.MenuLinkText {

font-family: Poppins;
color: white;

}

.MenuText {

height: 150px;
width: 1000px;
position: relative;
left: 150px;
bottom: 125px;
font-family: Poppins;
font-size: 30px

}

}

.ButtonThumsUp {

hight:100px;
width: 300px;
background-color: red;
font-color: white;
font-family: Poppins;

}


