.TopDiv {

width: 1920px;
height: 200px;
background-color: #1d1302;

}

.Logo {

color: wheat;
width: 600px;
height: 150px;
position: relative;
left: 25px;
top: 25px;
font-family: Impact;
font-size: 100px;
align-items: center;
justify-content: center;
display: flex;

}
